.header {
    background-color: #606469;
    margin:20px;
    display:flex;
    align-items: flex-start;
    border-radius: 4px;
    box-shadow: 2px 2px 2px gainsboro;
}

.header_image {
    margin:15px;
}

.header_title {
    font-size:25px;
    color:rgb(54, 29, 143);
    font-weight: 620;
    margin-top:15px;
}

.card_outer_box {
    display:flex;
    flex-direction: column;
}